:root
{
    --black: #000000;
	--chinese-black: #141414;
	--eerie-black: #1b1b1b;
	--white: #ffffff;
    --af-white: #f3f3f3;
    --almost-white: #f4f4f4;
    --chinese-white: #e1e1e1;
    --soft-red: #db0014;
}