*
{
    box-sizing: border-box;
    padding: 0;
}


.navbar 
{
    font-size: 16px;
    padding: 8px 0px;
}
  
.main-navbar 
{
    list-style-type: none;
    display: none;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
  
.nav-links
{
    display: block;
    text-align: center;
    padding: 16px 0;
}
.nav-links:hover
{
    background-color: var(--chinese-black);
    color: var(--chinese-white);
}
  
.nav-links, .logo 
{
    text-decoration: none;
    color: var(--eerie-black);
}
  
.logo 
{
    display: inline-block;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 16px;
}
  
.navbar-toggle
{
    float: right;
    position: relative;
    padding: 12px 12px;
    cursor: pointer;
    color: var(--eerie-black);
    font-size: 20px;
}
  
.navbar-toggle:hover 
{
    color: var(--soft-red);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
  
@media screen and (min-width: 545px) 
{
    .navbar 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 4px 0;
    }
  
    .main-navbar 
    {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        border: none;
    }
  
    .nav-links 
    {
        padding: 8px 12px;
    }
    .nav-links:hover
    {
        background: none;
        color: var(--soft-red);
        font-weight: bold;
    }
  
    .logo 
    {
        margin-top: 0;
    }
  
    .navbar-toggle 
    {
        display: none;
    }
} 